<nav class = "navbar navbar-expand-sm navbar-dark bg-dark justify-content-between border border-info" role="navigation">
	<span class = "navbar-brand text-info">Eirika Sawh</span>
	<form class = "form-inline">
		<button (click)="about()" type="button" class = "btn btn-outline-info mr-2 text-center">About</button>
		<button (click)="skills()" type="button" class = "btn btn-outline-info mr-2 text-center">Skills</button>
		<button (click)="projects()" type="button" class = "btn btn-outline-info mr-2 text-center">Projects</button>
	</form>
</nav>