@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url('https://fonts.googleapis.com/css?family=Jura:400,600');

body, html{
	height: 100%;
	font-family: 'Jura', sans-serif;
	font-size: 1em;
	display: flex;
	flex-direction: column;
}

.mainwrapper {

	background: url("images/spacebg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;

}

.swapcontent {
	min-height: 85vh;
	background-color: rgb(181,194,206, 0.65);
	overflow: auto;
	padding-bottom: 2vh;
	margin-bottom: 2vh;
}

