@import url(//fonts.googleapis.com/earlyaccess/nicomoji.css);
@import url(//fonts.googleapis.com/earlyaccess/kokoro.css);

.emphasis {
	font-style: oblique;
	color: rgb(138,23,184,0.65);
}

.footer {
	width: 100%;
	text-align: center;
	flex-shrink: 0;
	padding: 1vw;
	margin: 1vw;
}

.japanese{
	font-family: "Kokoro";
}

p{
	font-size: 0vh;
	font-weight: bolder;
	color:rgb(36, 75, 91, 0.85);
}

h1{
	font-size: 0vh;
	color:rgb(36, 75, 91, 0.85);
}



i{
	color:rgb(36, 75, 91, 0.85);
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    font-size: 0vw;
    margin: 0vw 2vw;
}

i:hover{
	color:rgb(138,23,184,0.65);
}

b{font-weight:bold;}

a{
	color: inherit;
	text-decoration: none;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}