
<div class = "container maincontent">
	<div class = "header">
		<h1 class="text-center"><span class = "japanese"><b>はじめまして</b></span><b>!</b><br><b>Nice to meet you!</b></h1>
	</div>
	<div id = "bio">
		<img src="/assets/images/itsame.jpg">
		<p>Hello! My name is <span class="emphasis">Eirika Sawh</span> - I'm a full-stack web and video game developer with a passion for creating <span class = "emphasis">awesome</span> things!</p>
		<p>In my opinion, <span class = "emphasis">learning is the greatest joy,</span>
		and I'm always seeking out new experiences.</p>

		<p>When I'm not developing my coding skills, you'll find me buried deep in online fantasy worlds.</p>

		<p>Feel free to check out my skills and projects while you're here! Or, if you're interested, check me out at any of the links below. Oh, and if you'd like to speak further, feel free to email me at  <span class="emphasis"><a href="mailto: eirika.sawh@gmail.com">eirika.sawh@gmail.com!</a></span></p>
	</div>

	<footer class="footer">
		<div class="container">
			<a href="https://github.com/yuri-coder" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/eirika-sawh" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		</div>
	</footer>

</div>



